body {
  background-color: #48c;
  color: #fff;
  font-family: 'Source Code Sans', sans-serif;
}

a {
  color: #ffd966;
  text-decoration: none;
}
  a:hover {
    text-decoration: underline;
  }

nav ul,
nav li {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  text-indent: 0;
}
nav ul {
  border-bottom: 1px dotted #fff;
  margin-bottom: 1.5rem;
  padding-bottom: 1.5rem;
}
  nav ul:before {
    content: 'Useful links:';
    margin-right: 0.5em;
  }
  nav li {
    display: inline-block;
    margin-right: 2rem;
  }

footer {
  margin-top: 1.5rem;
  text-align: center;
}
