body {
  background-color: #5272aa;
  color: #fff;
  font-family: 'Source Code Sans', sans-serif;
}

a {
  color: #fafdc4;
  text-decoration: underline dotted rgba(250, 253, 196, 0.8);
}
  a:hover {
    text-decoration: underline solid rgba(250, 253, 196, 1);
  }

nav ul,
nav li {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  text-indent: 0;
}
nav ul {
  border-bottom: 1px dotted #fff;
  margin-bottom: 1.5rem;
  padding-bottom: 1.5rem;
}
  nav ul:before {
    content: 'Useful links:';
    margin-right: 0.5em;
  }
  nav li {
    display: inline-block;
    margin-right: 2rem;
  }

footer {
  margin-top: 1.5rem;
  text-align: center;
}
