.tester label,
.tester .pattern {
  font-size: 1.5rem;
}

.tester .pattern {
  background-color: #eee;
  border: 1px solid #666;
  border-left-width: 0;
  border-right-width: 0;
  border-top-width: 0;
  font-family: 'Source Code Pro', monospace;
  width: 80%;
}

.tester .CodeMirror {
  background-color: #eee;
  font-size: 1.5rem;
  font-family: 'Source Code Pro', monospace;
  height: 20em;
  width: 100%;
}

.tester .match {
  background-color: #ffd966;
}
